@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700&subset=latin,latin-ext);

body {
    font-size: 200%;
    text-align: center;
    font-family: Libre Baskerville;
}

p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

pre {
    text-align: left;
}

pre.highlight {
    border: 2px solid blue;
    padding: 0.5em;
    width: -moz-fit-content;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

tt {
    font-size: 125;
}

ul {
    list-style-position: inside;
}

li {
    font-family: serif;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}


blockquote {
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 300%;
    position: absolute;
    left: -0.4em;
    top: -0.1em;
    color: #7a7a7a;
}

div.cite {
color: #999999;
font-size: 100%;
display: block;
margin-top: 1em;
text-align: right;
}

div.cite cite:before {
    content: "\2014 \2009";
}


.cite_label, .hidden {
    display: none;
}